.register {
  height: calc(100vh - 65px);
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #148bed;
  padding: 40px;
  padding-left: 12%;
  padding-right: 12%;
  margin-top: 65px;
  }
  
  