* {
  margin: 0;
  padding: 0;

}

.travelPins {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.pinContainer {
  margin-top: 65px;
  height: calc(100% - 65px);
  width: 100%;
  max-width: 1320px;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.card {
  width: 250px;
  display: flex;
  flex-direction: column;

}


.pinLabel {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 0px 5px 0px 5px;
}

.desc {
  font-size: 14px;
  margin: 0px 5px 0px 5px;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.star {
  color: gold;
  font-size: 15px;
}

.username {
  font-size: 10px;
}

.cardDate {
  font-size: 10px;
}

.pinImg {
  padding: 0px 5px 0px 5px;
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.place {
  text-align: center;
}

.pinIcon{
  color:#148bed;
  margin: 5px;
  font-size: 20px;
}
.inFo {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
}

.rating {
  display: flex;
  justify-content: flex-start;
}


.formPopup {
  width: 250px;
  display: flex;
  flex-direction: column;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);

}

textarea {
  margin: 7px;
  border: none;
  border-bottom: 1px solid gray;
}

.inputPopup {
  margin: 7px;
  padding: 7px;
  outline: none;
}
.selectPopup{
  margin-left: 7px;
  color: yellow;
  background-color: aqua;
  border: none;
  border-radius: 3px;

}
.submitButton {
  padding: 6px;
  margin: 20px 20px 0px 20px;
  background-color: #148bed;
  border: none;
  border-radius: 5px;
  color: white;
}
.btnChange{
  display: flex;
  margin-top: 20px;
}
.btn{
  width: 120px;
  margin-right: 10px;
  border: none;
  padding: 3px;
  border-radius: 5px;
}
.Edit{
  background-color: #148bed;
}
.Delete{
  background-color: tomato;
}
.mapBoxAvInput{
  position: absolute;
  z-index: 10;
  margin: 20px;
  width: 330px;
  height: 35px;
  border-radius: 20px;
  background-color: white; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapBoxAvInput input{
  height: 100%;
  border: none;
  width: 80%;
  padding: 10px;
}

.mapBoxAvInput .inputIcon{
  color: rgb(25, 146, 227);
  cursor: pointer;
}